.container{
    max-width: 100%;
    margin: 0;
    padding: 0;
}

nav{
    margin: 0;
    margin-top: 0.5%;
}

.bg-light {
    background-color: white !important;
}

.navbar-brand{
    font-family: 'Freehand', cursive;
    font-size: 1.875rem; 
    margin-left: 8%;
}

.navbar-nav{
    gap: 5%;
}

a{
    font-family: 'Forum', cursive;
    font-size: 1.125rem; 
}

.collapse{
    margin-left: 17%;
}

h2{
    font-size: 7.6875rem; 
    font-family: 'Forum', cursive;
    max-width: 30%;
    padding: 10%;
}