*{
    box-sizing: border-box;
}

body{
    margin:0;
    padding: 0;
    font-family: Arial;
}

form{
    flex-basis: 33%;
    padding: 1%;
}

.container{
    max-width: 100%;
    margin: auto;
}

header div{
    flex-basis: 33%;
}

header{
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    background-color: #0D0D0D;
    margin: 0;
    display: flex;
}

h1{
    padding-bottom: 1%;
}

nav{
    padding-left: 2%;
    background-color: #404259;
    display: flex;
}

.imagens{
    text-align: center;
    justify-content: center;
}

nav a:link{
    color: white;
    text-decoration: none;
    padding: 1%;
    margin-right: 6%;
}

nav a:hover{
    color: white;
}

main{
    padding: 30px;
    background-color: #FFFFFF;
    line-height: 140%;
    color: black;
}

.nova_categoria{
    text-align: center;
}

.botao{
    margin-top: 1%;
}

a.apagar:link, a.apagar:visited{
    float: right;
    color: #c71928;
}

input[type=search]{
    border-radius: 20px;
    padding: 0.5%;
    width: 53.08056872037915%;
}

footer{
    padding: 0.7%;
    text-align: center;
    background-color: #0D0D0D;
    margin: 0;
    color: white;
}

/* formatar seção imovel */
div.imovel,div.categoria{
    padding: 20px;
    background-color: #515373;
    border-radius: 40px;
    margin-top: 20px;
    box-shadow: 0px 0px 1px 1px rgb(124, 124, 124);
    color: white;
}

.paginacao{
    text-align: center;
    padding: 20px;
}

.anterior,.proxima{
    padding: 20px;
}

a{
    color: white;
    text-decoration: none;
}

.det{
    text-decoration: underline;
}

.anterior,.proxima{
    color: black;
}

.curtidas{
    font-size: 140%;
    padding-left: 1%;
    margin-bottom: 0;
    margin-top: 1.2%;
}

.feedback{
    display: flex;
    padding-bottom: 1%;
}

.msg-alertas{ 
    width:100%; 
    overflow:hidden; 
    margin:0 auto; 
    padding:10px; 
    background-color:#FFFFFF; 
} 

.ms{ 
   width:100%; 
   margin:auto;  
   padding:1em; 
   float:left; 
   display:block; 
   margin-bottom:10px;
   font-family: Arial, Helvetica, sans-serif; 
   font-weight:100; 
   font-size:16px;
}

.ok{ 
    background-color:#A6FFBC; 
    border:2px #00bd00 solid; 
    color:#00bd00; 
    border-radius:5px; 
}

.mais{
    padding-top: 1%;
    padding-right: 3%;
}

.coracao{
    padding-top: 1%;
}

h2{
    font-size: 115%;
}

.continuar{
    padding-top: 1%;
}

.textarea{
    display: block;
    padding-top: 2%;
}

.descricao{
    border-radius: 20px;
    padding: 0.5%;
}

@media screen and (max-width:900px) {
    nav a{
        font-size: 60%;
        margin: 1%;
    }
    main{
        line-height: normal;
    }
    .curtidas{
        margin-top: 2%;
        margin-left: 3%;
    }
    .mais{
        padding-top: 0.5%;
        padding-right: 10%;
    }
    .barra_de_pesquisa{
        display: none;
    }
    .continuar{
        padding-top: 5%;
    }

    .descricao{
        max-width: 80%;
        padding: 2%;
    }
}
