body{
    font-family: 'Andika', sans-serif
}

.container{
    margin: auto;
    margin-top: 5%;
    max-width: 50%;
    box-shadow: 0 0 3px 3px rgb(161, 161, 161);
    justify-content: center
}

legend{
    font-size: 120%;
}

form{
    margin: 5%
}

fieldset{
    width: 95%;
    margin-bottom: 5%
}

form div{
    margin-bottom: 2%
}

header{
    background-color: #F4F0EB;
    text-align: center
}

p{
    margin-bottom: 0;
}

.botao{
    margin-left: 87%;
    margin-bottom: 6%;
}

@media screen and (max-width: 900px){
    .container{
        max-width: 90%;
        display: flex;
        flex-direction: column;
        row-gap: 20px; /* Espaço entre linhas */
        justify-content: space-around; /* Distribui no espaço */
    }
    .botao{
        margin-left: 40%
    }
    fieldset{
        margin-left: 0;
        width: 90%;
        max-width: 90%;
        font-size: 13px;

    }
    body{
        font-size: 84%
    }
    input{
        font-size: 84%
    }
    select{
        font-size: 84%
    }
    .servico{
        margin-right: 0;
    }
    .animal{
        margin-right: 0;
    }

}
